@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";
@import "remixicon/fonts/remixicon.css";

body {
  font-family: "Inter", sans-serif;
}
* {
  box-sizing: border-box;
}
.active-step {
  color: #2563eb;
}

.title {
  color: #6b7280;
  font-size: 11.9px;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


input[type='number'] {
  -moz-appearance: textfield;
}